<tr id="<%= dom_id calculation %>">
	<td><%= calculation.id %></td>
	<td><%= calculation.equation %></td>
	<td><%= calculation.result %></td>
	<td><%= time_ago_in_words calculation.created_at %> ago</td>
	<td id="delete"><%= button_to calculation, method: :delete, remote: true, class: "btn btn-danger", data: { confirm: "Are you sure?"} do %>
					<i class="glyphicon glyphicon-trash"></i>
			<% end %>
	</td>
</tr>