<br>
<% if @calculations.any? %>
  <table class="table table-hover table-bordered">
  	<thead>
	    <tr>
	    	<th>ID</th>
	    	<th>Equation</th>
	    	<th>Result</th>
	    	<th>Timestamp</th>
	    </tr>
	  </thead>
	 	<tbody id="calculations">
    	<%= render @calculations %>
    </tbody>
  </table>
  <div id="paginator">
  	<h5 align = center>
			<%= paginate @calculations, remote: true %>
		</h5>
	</div>
<% end %>
<p class="text-center", class="lead">Please enter your equation!</p>
<br>
<%= form_tag(calculations_path, method: "post", remote: true, authenticity_token: true, class: "form-inline") do %>
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">Equation:</div>
		  <%= text_field_tag(:q, "No alphabetical characters and spaces.", class: "form-control") %>
	  	<div class="input-group-btn">
	  		<%= submit_tag("Evaluate", class: "btn btn-default") %>
	  	</div>
		</div>
 	</div>
<% end %>
<br>
<h4>Delete Equation: </h4>
<%= form_tag(calculation_path(:id), method: "delete", class: "form-inline") do %>
	<div class="form-group">
		<div class="input-group">
			<%= text_field_tag(:id, "ID of equation", class: "form-control") %>
			<div class="input-group-btn">
				<%= submit_tag("Delete", class: "btn btn-danger") %>
			</div>
		</div>
	</div>
<% end %>


